/app/config/parameters.yml
/build/
/phpunit.xml
/load/*
!load/.gitkeep
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
app/bootstrap.php.cache
ModeEnable
composer.lock
/bin/symfony_requirements
